.composition {
	position: relative;

	@include respond(tab-port) {
		text-align: center;
	}

	&__photo {
		position: absolute;
		width: 55%;
		z-index: 10;
		border-radius: 2px;
		outline-offset: 2rem;
		box-shadow: 0 1rem 2rem rgba($color-black, .2);

		transition: all .2s;


		@include respond(tab-port) {
			position: relative;
			width: 100%;
			border-radius: 0;

			box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
		}


		&--p1 {
			top: 0;
			left: 0;
		}

		&--p2 {
			top: 3rem;
			left: 25rem;

			@include respond(tab-port) {
				top: 0;
				left: 0;
			}
		}

		&--p3 {
			top: 10rem;
			left: 10rem;

			@include respond(tab-port) {
				top: 0;
				left: 0;
			}
		}


		&:hover {
			z-index: 20;
			outline: 2rem solid $color-primary;
			transform: scale(1.03);
		}

		@include respond(tab-port) {

		}
	}


	&:hover &__photo:not(:hover) {
		transform: scale(.9);
	}


}