.story {
  width: 75%;
	margin: 0 auto;
	padding: 6rem;
	padding-left: 9rem;
	border-radius: 3px;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);

	background-color: rgba($color-white, .6);

	font-size: $default-font-size;

	backface-visibility: hidden;
	transform: skewX(-12deg);

	& > * {
		transform: skewX(12deg);
	}

	&__shape {
		position: relative;
		width: 15rem;
		height: 15rem;
		margin-right: 3rem;
		float: left;

		overflow: hidden;

		shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
	}

	&__image {
		height: 100%;
		transform: translateX(-4rem) scale(1.4);

		backface-visibility: hidden;
		transition: all .4s;
	}

	&__caption {
		@include absoluteCenter();
		opacity: 0;

		font-size: 1.7rem;
		color: $color-white;
		text-align: center;
		text-transform: uppercase;

		backface-visibility: hidden;
		transition: all .5s;
	}

	&:hover &__image {
		transform: translateX(-4rem) scale(1);
		filter: blur(.5rem) brightness(.9);
	}

	&:hover &__caption {
		opacity: 1;
	}
}

